#game{
  color: black;
  background-color: blueviolet;
  font-size: 50px;
  text-align: center; 
}
.Answer{
    color: blueviolet;
    background-color: rgb(255, 255, 255);
}#FavoritePlayer{
    color:rgb(28, 148, 28);
    background-color: rgb(235, 228, 5);
    font-size: 28px;}


   